In [9]:
import pandas as pd

In [13]:
file_path = "../data/processed/ai_trends_cleaned.csv"
df = pd.read_csv(file_path,header=None)

In [14]:
df.head(10)

            0  1
0  2020-12-27  0
1  2021-01-03  0
2  2021-01-10  0
3  2021-01-17  0
4  2021-01-24  0
5  2021-01-31  0
6  2021-02-07  0
7  2021-02-14  0
8  2021-02-21  0
9  2021-02-28  0

In [15]:
df.columns = ['date', 'interest']

In [16]:
df.head()

         date interest
0  2020-12-27        0
1  2021-01-03        0
2  2021-01-10        0
3  2021-01-17        0
4  2021-01-24        0

In [17]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      262 non-null    datetime64[ns]
 1   interest  262 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 4.2+ KB

In [19]:
df['interest'] = pd.to_numeric(df['interest'], errors='coerce')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      262 non-null    datetime64[ns]
 1   interest  259 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.2 KB

In [21]:
df.isnull().sum()

date        0
interest    3
dtype: int64

#### Finding null values at exact row. 
1. df.isnull() return boolean value for each item if item is null then true otherwise false 
2. any(axis=1) tells that within the row is anything null ? if any coloum cotains null value then it assigns null as the whole result as a null value.

    col1 col2 col3 col4         result
eg. 1      as    n   as  ->     false
    2       a   dd   NaN ->     true

3. df finally takes out that row as seen in the result.

In [24]:
df[df.isnull().any(axis=1)]

          date  interest
83  2022-07-31       NaN
99  2022-11-20       NaN
128 2023-06-11       NaN

In [26]:
df.fillna(0, inplace=True)

In [27]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, interest]
Index: []

In [28]:
df.head()

        date  interest
0 2020-12-27       0.0
1 2021-01-03       0.0
2 2021-01-10       0.0
3 2021-01-17       0.0
4 2021-01-24       0.0

reset_index():

Imagine you deleted row #2. Your rows would be numbered 0, 1, 3, 4.

This command fixes that gap so they become 0, 1, 2, 3 again.

drop=True:

Without this: Pandas tries to be helpful and saves your old row numbers (0, 1, 3, 4) into a brand new column called "index".

With this: You are telling Pandas, "I don't need the old numbers. Just delete them."

In [29]:
df = df.reset_index(drop=True)

In [30]:
df.head()
df.tail()
df.describe()

                      date    interest
count                  262  262.000000
mean   2023-06-28 12:00:00   24.706107
min    2020-12-27 00:00:00    0.000000
25%    2022-03-28 18:00:00    0.000000
50%    2023-06-28 12:00:00   15.000000
75%    2024-09-27 06:00:00   41.750000
max    2025-12-28 00:00:00  100.000000
std                    NaN   31.186644

In [31]:
df.to_csv("../data/processed/ai_trends_cleaned.csv", index=False)